
@font-face {
  font-family: 'Giana';
  src: url('giana/Giana.ttf');
}

@font-face {
  font-family: 'AltoSerif';
  src: url('altoserif/AltoSerif.ttf');
}

@font-face {
  font-family: 'Dosstart';
  src: url('dosstart/DosStartDefaultFont.ttf');
}

@font-face {
  font-family: 'Lisasketch';
  src: url('lisa/LisaSketchPaperRaw.ttf');
}

@font-face {
  font-family: 'Lisabutton';
  src: url('lisa/LisaCalcPaperRaw.ttf');
}

@font-face {
  font-family: 'Lisaguide';
  src: url('lisa/LisaGuidePaperRaw.ttf');
}

@font-face {
  font-family: 'Lisawoohoo';
  src: url('lisa/PriamWhamosRaw.ttf');
}

html{
width: 9000px;
height: 100%;
margin: 0px;
padding: 0px;
background: #EEE8AA;
}

body{

margin: 0px;

}

.row {

  margin: -0px ;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.column {
  float: left;
  height: 800px;
  margin:0px;
}


.archive {

background-color: #f4f3f1;
width: 8200px;
margin: 0px;

}

.welcome-text {

  background-color: #EEE8AA;
  width: 750px;
  margin: 0px;
  padding: 12px;
  font-size: 20px;
  font-family: AltoSerif;
  overflow: scroll;

}

.title {

  margin-left: 10px;
  margin-top: 25px;
  font-size: 30px;
  color: #444;

}

table.archive_column {

height: 400px;
margin: 0px;

}

th, td {

background-color: white;

}

table, th, td {

  border: 1px solid #b3b397;

}

td {
margin: 20px;
}

caption {

caption-side:bottom;
text-align:left;
background-color:#f4f3f1;
font-family: Dosstart;
padding: 8px;
font-size: 18px;
height: auto;
}


.collapsible {
  background-color: #b3b397;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-family: AltoSerif;
  padding: 5px;
  border-style: outset;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #b3b397;
  font-family: arial;
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
  margin-left:10px;
  padding:7px;
  text-shadow: 2px 2px 5px white;


}


span {

  font-family: Lisasketch;
  border-style: double;
  font-size: 20px;

}

.brick {

width: 1600px;
border-style: none;
font-family: 'Giana';

}

 .grid{

  border-style: outset,#b3b397;
  border-width: 2px;
  height: 15px;
  box-shadow: 2px 2px 5px #b3b397;
  font-family: Lisasketch;
  width: 100px;
  height: 100px;
  text-align: left;
  font-size: 20px;
  overflow: hidden;
  word-break: break-all;
  margin: 0px;
  padding: 0px;
}

td p {
margin: 0px;
padding: 0px;


}

.hashtags {

text-shadow: 3px 3px 6px #b3b397;
font-size: 13px;

}

.imagetitle {

font-size: 20px;
padding: 3px;


}

.text {

/* border-right: solid; */
font-family: Dosstart;
column-fill: auto;
height: 600px;
width: 800px;
column-count: 3;
text-align: justify;
text-justify: inter-word;
column-gap: 40px;
padding-left: 20px;
font-size: 18px;
text-shadow: 3px 3px 6px #b3b397;

/* column-rule:  inset blue; */
}

blockquote {

  font-family: Lisasketch;
  font-size: 20px;
  color: #EEE8AA;
  text-shadow: 2px 2px 5px #b3b397;
  padding: 0px;
  margin: 0px;
}

.boarderline {

font-family: Lisasketch;
font-size: 20px;
color: #EEE8AA;
text-shadow: 2px 2px 5px #b3b397;
position:absolute;
left: -20px;
top: 425px;
transform: rotate(-90deg);

}
.boarderline2 {

font-family: Lisasketch;
font-size: 20px;
color: #EEE8AA;
text-shadow: 2px 2px 5px #b3b397;
position:absolute;
left: 260px;
top: 425px;
transform: rotate(-90deg);
}

.boarderline3 {

font-family: Lisasketch;
font-size: 20px;
color: #EEE8AA;
text-shadow: 2px 2px 5px #b3b397;
position:absolute;
left: 540px;
top: 425px;
transform: rotate(-90deg);
}

.bgtext {

font-family: Giana;
font-size: 60px;
line-height: 40px;
letter-spacing: -50px;
padding: 15px;
margin: 0px;
text-shadow: 2px 2px 5px #b3b397;
color: #EEE8AA;
z-index: -4;
}

.imagebox {

width: 2000px;
height:800px;
position: absolute;
left: 50px;
top: 150px;
border-collapse: collapse;
border-style: none;
box-shadow: none;
}

.imageboxcnt {

border-style: none;
box-shadow: none;

}

.imgbox {

width: 250px;
height: 400px;

}

.filter {

border-style: none;
padding: 0px;
margin: 0px;
text-align: center;
font-family: Dosstart;
font-size: 16px;
line-height: 24px;

}

#display {

border: 1px solid black;
padding: 5px;
background-color: white;

}

.border{

   border-style: outset,#b3b397;
   border-width: 2px;
   box-shadow: 2px 2px 5px #b3b397;
   height: 15px;
   width: 10px;
   text-align: center;
   font-size: 25px;
   background-color: #EEE8AA;
   font-family: 'AltoSerif';
   padding: 3px;


 }

#gohome {

width: 100px;
height: 100px;
overflow: hidden;
padding: 0px;
position: absolute;
bottom: 0px;

}

.hyperlink {

width:100px;
height: 100px;
position: absolute;

}

.poems {

padding-left: 100px;
padding-right: 100px;


}
