
@font-face {
  font-family: 'Giana';
  src: url('giana/Giana.ttf');
}

@font-face {
  font-family: 'AltoSerif';
  src: url('altoserif/AltoSerif.ttf');
}

@font-face {
  font-family: 'Dosstart';
  src: url('dosstart/DosStartDefaultFont.ttf');
}

@font-face {
  font-family: 'Lisasketch';
  src: url('lisa/LisaSketchPaperRaw.ttf');
}

@font-face {
  font-family: 'Lisabutton';
  src: url('lisa/LisaCalcPaperRaw.ttf');
}

@font-face {
  font-family: 'Lisaguide';
  src: url('lisa/LisaGuidePaperRaw.ttf');
}

@font-face {
  font-family: 'Lisawoohoo';
  src: url('lisa/PriamWhamosRaw.ttf');
}

html{
width: 9000px;
height: 100%;
margin: 0px;
padding: 0px;
background: #EEE8AA;
}

body{

margin: 0px;

}

.row {

  margin: -0px ;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.column {
  float: left;
  height: 800px;
  margin:0px;
}


.archive {

background-color: #f4f3f1;
width: 8200px;
margin: 0px;

}

.welcome-text {

  background-color: #EEE8AA;
  width: 750px;
  margin: 0px;
  padding: 12px;
  font-size: 20px;
  font-family: AltoSerif;
  overflow: scroll;

}

.title {

  margin-left: 10px;
  margin-top: 25px;
  font-size: 30px;
}

table {

height: 90%;
margin: 0px;

}

th, td {

width: 200px;
height: 25%;

}

table, th, td {

  border: 1px solid #b3b397;

}

td {
margin: 20px;
}

caption {

caption-side:bottom;
text-align:left;
background-color:#f4f3f1;
font-family: Dosstart;
padding: 8px;
font-size: 18px;
height: auto;
}


.collapsible {
  background-color: #b3b397;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-family: AltoSerif;
  border-style: outset;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #b3b397;
  font-family: AltoSerif;
  font-size: 15px;
  margin-left:10px;
  padding:7px;

}


span {

  font-family: Lisasketch;
  border-style: double;
  font-size: 15px;

}

.brick {

width: 1600px;
border-style: none;

}

 td {

  border-style: outset;
  border-width: 2px;
  height: 15px;
  box-shadow: 2px 2px 5px black;
  text-align: center;
  font-family: AltoSerif;

}

.hashtags {

text-shadow: 3px 3px 6px black;


}

.imagetitle {

font-size: 22px;

}

.text {

/* border-right: solid; */
font-family: Dosstart;
column-fill: auto;
height: 600px;
width: 800px;
column-count: 3;
text-align: justify;
text-justify: inter-word;
column-gap: 40px;
padding-left: 20px;
/* column-rule:  inset blue; */
}

blockquote {

  font-family: Lisasketch;
  font-size: 20px;
  color: #EEE8AA;
  text-shadow: 2px 2px 5px red;
  padding: 0px;
  margin: 0px;
}

.boarderline {

font-family: Lisasketch;
font-size: 20px;
color: #EEE8AA;
text-shadow: 2px 2px 5px red;
position:absolute;
left: -20px;
top: 400px;
transform: rotate(-90deg);


}
